@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply block w-full rounded border-gray-300 shadow-sm focus:border-green-300 focus:ring focus:ring-green-200 focus:ring-opacity-50;
  }

  .button {
    @apply bg-black text-white px-4 py-2 rounded;
  }

  .Imsak {
    grid-auto-rows: 3fr 3fr 2fr 1fr 1fr 1fr;
    @apply bg-imsakBg text-imsak;
  }

  .Gunes {
    grid-auto-rows: 2fr 3fr 3fr 2fr 1fr 1fr;
    @apply bg-gunesBg text-gunes;
  }

  .Ogle {
    grid-auto-rows: 1fr 2fr 3fr 3fr 2fr 1fr;
    @apply bg-ogleBg text-ogle;
  }

  .Ikindi {
    grid-auto-rows: 1fr 1fr 2fr 3fr 3fr 1fr;
    @apply bg-ikindiBg text-ikindi;
  }

  .Aksam {
    grid-auto-rows: 1fr 1fr 2fr 3fr 4fr 4fr;
    @apply bg-aksamBg text-aksam;
  }

  .Yatsi {
    grid-auto-rows: 1fr 1fr 2fr 3fr 4fr 4fr;
    @apply bg-yatsiBg text-yatsi;
  }
}
